[Unit]
Description=Service to monitor telegram stats, subs
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/proj/telegram-stats-monitor/
ExecStart=/home/ubuntu/proj/telegram-stats-monitor/venv/bin/python3 /home/ubuntu/proj/telegram-stats-monitor/main.py
Restart=always

[Install]
WantedBy=multi-user.target
